html, body {
  margin: 0;
  padding: 0;
  font-family: monospace;
}

canvas {
  background-color: #000;
}

#ground {
  position: absolute;
  width: 960px;
  height: 98px;
  top: 270px;
  left: 0;
  background-image: url('../images/ground.png');
  background-repeat: repeat-x;
}

#div-distance {
  position: absolute;
  color: #fff;
  top: 24px;
  left: 30px;
  font-size: 18px;
}

#div-energy {
  position: absolute;
  color: #fff;
  top: 24px;
  left: 720px;
  font-size: 18px;
}

#div-energy span {
  display: inline-block;
  height: 20px;
  vertical-align: middle;
}

#energy-frame {
  display: inline-block;
  border: 1px solid #fff;
  width: 120px;
  height: 20px;
  vertical-align: middle;
}

#energy-bar {
  position: absolute;
  height: 20px;
  background: rgb(151,226,30);
  background: linear-gradient(90deg, rgba(151,226,30,0.8029586834733894) 0%, rgba(227,202,41,1) 47%, rgba(255,134,0,1) 100%);
}

#div-text {
  position: absolute;
  padding: 20px 60px 0;
  top: 380px;
  left: 0;
  width: 960px;
  height: 200px;
  box-sizing: border-box;
}

#text {
  font-size: 32px;
  color: #fff;
}

#sub-text {
  font-size: 32px;
  color: #888c90;
  margin-top: 10px;
}

.correct {
  color: lightgreen;
}

.cursor {
  color: steelblue;
  text-decoration: underline;
  white-space: pre;
}
